*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'poppins',sans-serif;
}
:root{
    --bg-color:#064e0654 ;
    --second-bg-color:#32394662;
    --text-color:#fff;
    --main-color:#0ef;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}



.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: rgb(4, 4, 77);
    display: flex;
    justify-content: space-between;
    align-items: center;
      z-index: 100;
}
.logo{
    font-size: 1.9rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}
.navbar a{
    font-size: 1.9rem;
    color: rgb(19, 153, 216);
    margin-left: 4rem;
    transition: .3s;
    font-weight: bold;
}
.navbar a:hover{
    color: rgba(117, 117, 202, 0.247);
}
.head h1{

    margin-top: -650px;
    font-size: 40px;
    color: black;
    font-weight: bold;
    margin-left: 50px;
}
.head h2{
    color: black;
    font-weight: 200px;
    margin-left: 50px;
    margin-top: 12px;
}
.head button{
    margin-left: 140px;
    box-sizing:10px ;
    font-size: 20px;
    font-weight: bold;
    margin-top:40px ;
}
.about{
    background-color: rgb(202, 201, 201);
    margin-top: 15%;
}
.about h1{
    font-size: 40px;
    font-weight: bold;
    margin-left: 50px;
}


.content {
  width: 80%;
  margin: 40px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

.dept-box {
  background: #e6f0ff;
  padding: 15px;
  margin: 15px 0;
  border-left: 5px solid #004080;
  border-radius: 5px;
}

h3 {
  margin-top: 0;
}


.admission-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background:  rgb(202, 201, 201);
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.admission-form input,
.admission-form select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

.admission-form button {
  padding: 12px;
  background: #004080;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  cursor: pointer;
}

.admission-form button:hover {
  background: #00264d;
}

